GFapiaoClient/bin/**
GFapiaoClient/obj/**
*.log
WndInteract/obj/**
WndInteract/bin/**
MouseKeyboardLibrary/obj/**
MouseKeyboardLibrary/bin/**
skWebShell/bin/**
skWebShell/obj/**
wbOps/bin/**
wbOps/obj/**