<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
  <add key="s_url" value="http://aifapiao.duapp.com/public/index.php/fppos"/>
  <add key="pos_id" value="1519061429"/>
    </appSettings>
</configuration>